<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kjuns.mapper.RoleMapper">

	<select id="selectByName" resultType="com.kjuns.model.Role" parameterType="String">
		select * FROM oper_role where name=#{0}
	</select>

	<select id="getTotalCount" resultType="int">
		select count(*) FROM oper_role
	</select>

	<select id="queryRoleList" resultType="com.kjuns.model.Role">
		select * FROM oper_role limit #{0},#{1}
	</select>

	<select id="selectById" parameterType="Long" resultType="com.kjuns.model.Role">
		select * FROM oper_role where id=#{0}
	</select>

	<select id="deleteRole" parameterType="Long">
		delete FROM oper_role where id=#{0}
	</select>

	<!-- 删除角色权限关系 -->
	<select id="deleteRoleAuth" parameterType="Long">
		delete FROM oper_role_auth where role_id=#{0}
	</select>

	<!-- 删除用户角色关系 -->
	<select id="deleteAdminRole" parameterType="Long">
		delete FROM oper_admin_role where role_id=#{0}
	</select>

	<insert id="addRole" parameterType="com.kjuns.model.Role">
		insert into oper_role (id,name,create_by,create_date,data_flag,update_by,update_date) 
		values(#{id},#{name},#{createBy},#{createDate},1,#{updateBy},#{updateDate})
	</insert>

	<!-- 添加角色权限关系 -->
	<select id="addRoleAuth">
		insert into oper_role_auth (role_id,auth_id) values (#{0},#{1})
	</select>

	<select id="queryAllRole" resultType="com.kjuns.model.Role">
		select * from oper_role
	</select>

	<!-- 查询admin的角色 -->
	<select id="queryAdminRole" parameterType="Long" resultType="com.kjuns.model.Role">
		select r.* from oper_role r,oper_admin_role ar where r.id=ar.role_id and ar.admin_id=#{0}
	</select>

	<update id="updateRole" parameterType="com.kjuns.model.Role">
		update oper_role set name = #{name} where id=#{id}
	</update>
</mapper>