<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kjuns.mapper.UserInfoMapper">

	<select id="getTotalCount" resultType="int" parameterType="com.kjuns.model.UserInfo">
		SELECT count(*) FROM kjuns_user_account accout,kjuns_user_info info
		where accout.data_flag = 1 and info.data_flag = 1 and accout.user_id = info.id
		<if test="nickName != null and nickName != ''">
			and info.nick_name like CONCAT('%',#{nickName},'%')
		</if>
		<if test="mobilePhone != null and mobilePhone != ''">
			and accout.mobile_phone like CONCAT('%',#{mobilePhone},'%')
		</if>
	</select>
	
	<select id="queryUserInfoList" resultType="com.kjuns.model.UserInfo">
		SELECT info.mobile_phone mobilePhone,info.face_src faceSrc,info.sex,info.location location,
		info.nick_name nickName,accout.id accountId, info.create_by createBy,info.create_date createDate
		FROM kjuns_user_account accout,kjuns_user_info info 
		where accout.data_flag = 1 and info.data_flag = 1 and accout.user_id = info.id
		<if test="nickName != null and nickName != ''">
			and info.nick_name like CONCAT('%',#{nickName},'%')
		</if>
		<if test="mobilePhone != null and mobilePhone != ''">
			and accout.mobile_phone like CONCAT('%',#{mobilePhone},'%')
		</if>
		order by info.create_date desc limit #{pageNo},#{pageSize}
	</select>
	
	<select id="deleteUserInfo" parameterType="com.kjuns.model.UserInfo">
		update kjuns_user_account set data_flag = #{dataFlag}, update_by = #{updateBy}, 
		update_date = #{updateDate}  where id = #{id}
	</select>
	
	<select id="selectById" resultType="com.kjuns.model.UserInfo">
		SELECT nick_name nickName FROM kjuns_user_info  where data_flag = 1 and id=#{id}
	</select>
	
</mapper>